<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
<title>updates</title>
<link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<h1>manage posts</h1>
<hr>
{% for post in posts %}
<a href="/post/{{ post.id }}">
<div class="post">
    <h2>{{ post.title }}</h2>
    <p class="date">{{ post.created_at | relative }} &middot; {{ post.created_at | fmt_date }}</p>
    <p class="description">{{ post.content }}</p>
    <br>
    <form method="POST" action="/api/delete">
        <input style="display: none" value="{{ post.id }}" name="post_id">
        <button type="submit">delete</button>
    </form>
</div>
</a>
{% endfor %}
<div class="footer">
    <a href="/">home</a> &middot; <a href="/new">new post</a> &middot; <a href="/deauth">log out</a>
</div>
</body>
</html>