<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
<title>new post</title>
<link rel="stylesheet" href="/static/css/global.css">
<link rel="stylesheet" href="/static/css/form.css">
<link rel="stylesheet" href="/static/css/new.css">
</head>
<body>
<a href="/">back</a>
<form method="POST" action="/submit">
    <input id="title" name="title" placeholder="post title">
    <hr>
    <textarea id="content" name="content" placeholder="type here"></textarea>
    <button type="submit">submit</button>
</form>
</body>
</html>