<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
<title>{{ post.title }}</title>
<link rel="stylesheet" href="/static/css/global.css">
<link rel="stylesheet" href="/static/css/view.css">
</head>
<body>
<h1>{{ post.title }}</h1>
<p class="date">{{ post.created_at | fmt_date }}</p>
<hr>
<p class="content">{{ post.content }}</p>
<a href="/"><button>back</button></a>
</body>
</html>